/* Our Services */
.our-services{
    color: $grey;
    & .services-list{
        @include list;
    }
    & .services-item{
        width: 300px;
        list-style: none;
    }
    & .services-img {
        position: absolute;
        width: 59px;
    }
    & .block-position {
        padding-left: 70px;
        text-align: justify;
    }
}